* {
	outline: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #f8f8f8;
	color: #00293c;
}

body,
input,
button {
	font-family: Arial, sans-serif;
	font-size: 20px;
	line-height: 1.2em
}

input,
canvas,
button {
	-webkit-transition: .4s all ease-in-out;
	-o-transition: .4s all ease-in-out;
	-moz-transition: .4s all ease-in-out;
	transition: .4s all ease-in-out
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.inputs {
	text-align: center;
}

.group,
canvas {
	margin: 15px 0 0;
}

label {
	display: block;
}

canvas,
input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

canvas {
	border: 2px solid #000;
}

input {
	padding: 5px 10px;
	border: 1px solid #eee;
}

input:focus,
input:hover {
	border-color: #006088;
}

input[type="color"] {
	width: 200px;
	height: 35px;
	background: #eee;
	padding: 2px 5px;
	border: 1px solid #ddd;
	cursor: pointer;
}

input[type="color"]:hover {
	border-color: #666
}

.btn {
	color: #fff;
	padding: 10px 20px 10px 50px;
	background-color: #006088;
	background-position: left 5px center;
	background-repeat: no-repeat;
	cursor: pointer
}

.btn:hover {
	background-color: #003f59
}

.btn-generate {
	background-image: url('../assets/001.png');
}

.btn-download {
	background-image: url('../assets/001.png');
}

.bottom {
	background: #eee;
	padding: 15px 0;
	font-size: 15px;
	margin: 25px 0 0;
}

.bottom p {
	margin: 0;
}
